body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: blue !important;
}

.jobHistoryTable {
  padding-top: 20px;
}

h2.ant-typography {
  text-align: center;
}

.ver-space {
  height: 35px;
}

.hor-space {
  margin-right: 30px;
}
